<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ThinkNote - About</title>
    <style>
        :root {
  --background-color: #ffffff;
  --bs-primary-rgb: #12296c;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-color);
  color: var(--bs-primary-rgb);
  font-weight: 300;
  font-size: 1.2rem;
  background-image: url(../images/noise.png);
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Unbounded', bold;
  font-weight: 800;
}

.container-fluid-custom {
  max-width: 1600px;
}

.pagination {
  --bs-pagination-color: var(--bs-primary-rgb);
  --bs-pagination-active-bg: var(--bs-primary-rgb);
  --bs-pagination-active-border-color: var(--bs-primary-rgb);
}
    </style>
</head>
<body>
    <header>
        <h1>About</h1>
    </header>

    <section id="description">
        <p>Welcome to our incredible Notes App! Our mission is to simplify note-taking and organization for students, professionals, and everyone in between.</p>
        <p>With our user-friendly interface, you can create, edit, and organize your notes with ease. Whether you're preparing for exams, keeping track of important information, or brainstorming ideas, our app has got you covered.</p>
        <p>Key Features:</p>
        <ul>
            <li>Effortless note creation and editing</li>
            <li>Organize notes into categories or tags</li>
            <li>Search functionality for quick access</li>
        </ul>
    </section>

    <section id="developers">
        <h2>Meet Our Developers</h2>
        <p>Our amazing team of developers has worked tirelessly to bring you this incredible app.</p>

        <ul>
            <li>Pranit Zambre</li>
            <li>Devang Tilgule</li>
            <li>Girish Wakchaure</li>
            <li>Rushi Kshirsagar</li>
        </ul>
    </section>

    <footer>
        <p>&copy; ThinkNote</p>
    </footer>
</body>
</html>
